/* 
colors:
medium gray-blue: #628395
light gray-blue: #c7ede4
lighter minty-blue: #d5fff3
accent red: #e85f5c
dark blue: #0c1821
*/

body {
    display: block;
    background-color: #d5fff3;
    color: #0c1821;
    width: 80%;
    margin: auto;
    
}

div {
    text-align: center;
    
} 

.header {
    margin-bottom: 20px;
}

h1 {
    margin: 10px;
}

h2 {
    margin: 10px;
}
/* nav {
    display: inline-flex;
} */

nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    background-color: #628395;
    display: inline-flex;
    justify-content: center;
    flex-flow: row wrap;
    
}

nav li {
    float: left;
}

li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color:  #d5fff3;
    
}

li a:hover {
    background-color: #c7ede4;
    color: #628395;
}

li:active {
    background-color: #e85f5c;
}

.active {
    background-color: #e85f5c;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px;
    /* border: 2px solid #0c1821; */
}



/* .content {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 400px;
} */

.square {
    border: 3px solid #0c1821;
    padding: 15px;
    margin: 5px;
    height: 200px;
    width: 200px;
    background-color: #c7ede4;
    align-content: center;
}

.circle {
    border: 3px solid #0c1821;
    border-radius: 50%;
    padding: 15px;
    margin: 5px;
    height: 200px;
    width: 200px;
    background-color: #c7ede4;
}

form {
    display: inline-flex;
    flex-flow: column wrap;
    background-color: #c7ede4;
    width: 30%;
    border: 1px dashed #0c1821;
}

form input {
    margin-top: 10px;
}

.audioPlayer {
    margin-left: 30px;
}

.audioBox {
    width: 70%;
}